#wrapBox {
  width: 70%;
  height: 270px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 50px; /* 상단 바 때문에 중간에 두면 아래에 내려간 것 처럼 보임*/
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

#loginBox {
  width: 350px;
  float: left;
}

#logoBox {
  display: inline-block;
  margin-bottom: 40px;
}

#logo {
  height: 50px;
}

#loginArea {
  display: block;
}

#loginForm {
  display: block;
}

#id {
  margin-bottom: 5px;
}

#pw {
  margin-bottom: 30px;
}

.inputText {
  width: calc(100% - 20px);
  height: 45px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-family: "aGothic12";
  font-size: 14px;
  padding: 0px;
  padding-left: 20px;
  outline: none;
}

.inputText::placeholder {
  color: #777;
}

#submitButton {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d64b45;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "aGothic15";
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

#mealBox {
  width: calc(100% - 550px);
  height: 270px;
  float: right;
  box-shadow: 0px 7px 10px #ddd;
  font-family: "aGothic12";
  font-size: 14px;
  margin-bottom: 100px;
}

@media (max-width: 1500px) {
  #wrapBox {
    width: 80%;
    height: 590px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0px;
  }

  #logoBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #loginBox {
    width: 100%;
    float: none;
    display: block;
  }

  #mealBox {
    width: 100%;
    float: none;
    display: block;
    margin-top: 50px;
  }
}

@media (max-width: 650px) {
  #mealContentWrap {
    height: 87px !important;
  }
}

#mealContentWrap {
  width: calc(100% - 60px);
  height: 67px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 23px;
  background-color: #fff;
  display: block;
}

.selectedMealContentWrap {
  padding-left: 27px !important;
  border-left: 3px solid #d64b45;
}

.selectedMealContentWrap > .mealTime {
  color: #d64b45;
}

.selectedMealContentWrap > .meal {
  color: #000;
}

.mealTime {
  font-family: "aGothic15";
  font-size: 16px;
  color: #999;
}

.meal {
  margin-top: 10px;
  color: #bbb;
  cursor: pointer;
}

.meal p {
  display: none;
  font-size: 12px;
  margin-top: 19px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.meal:hover p {
  display: inline;
  position: absolute;
  background-color: #bbb;
  color: #fff;
}
