@media (max-width: 1320px) {
  #contentWrap,
  #menuWrap {
    width: calc(100% - 80px) !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
  }

  #mealBox {
    width: calc(100% - 380px) !important;
    float: none;
    display: block;
  }

  @media (max-width: 950px) {
    #menuWrap {
      margin-top: 20px !important;
    }

    #menuLinkWrap {
      display: none;
    }

    #contentWrap {
      height: 605px !important;
      margin-top: 20px !important;
    }

    #noticeWrap {
      width: 100% !important;
    }

    #mealBox {
      width: 100% !important;
      height: 325px !important;
      margin-top: 10px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    #mealContentWrap {
      height: 85px !important;
    }
  }
}

#contentWrap {
  width: calc(100% - 200px);
  height: 270px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

#noticeWrap {
  width: 350px;
  float: left;
}

.noticeBox {
  width: calc(100% - 60px);
  height: 66px;
  padding-left: 27px;
  padding-right: 30px;
  padding-top: 20px;
  border-left: 3px solid #d64b45;
  background-color: #fff;
  box-shadow: 0px 7px 10px #ddd;
  display: block;
}

.noticeBoxBottomMargin {
  margin-bottom: 6px;
}

.noticeTitle {
  font-family: "aGothic17";
  font-size: 17px;
  color: #d64b45;
  cursor: pointer;
}

.noticeContent {
  margin-top: 12px;
  color: #777;
  font-size: 13px;
}

#mealBox {
  width: calc(100% - 380px);
  height: 270px;
  float: right;
  margin-left: 30px;
  box-shadow: 0px 7px 10px #ddd;
  font-family: "aGothic12";
  font-size: 14px;
}

#mealContentWrap {
  width: calc(100% - 60px);
  height: 67px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 23px;
  background-color: #fff;
  display: block;
}

.selectedMealContentWrap {
  width: calc(100% - 63px) !important;
  border-left: 3px solid #d64b45;
}

.selectedMealContentWrap > .mealTime {
  color: #d64b45;
}

.selectedMealContentWrap > .meal {
  color: #000;
}

.mealTime {
  font-family: "aGothic15";
  font-size: 16px;
  color: #999;
}

.meal {
  margin-top: 10px;
  color: #bbb;
  cursor: pointer;
}

.meal p {
  display: none;
  font-size: 12px;
  margin-top: 17px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  cursor: default;
}

.meal:hover p {
  display: inline;
  position: absolute;
  background-color: #bbb;
  color: #fff;
}

#menuWrap {
  width: calc(100% - 200px);
  height: 47px;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

#menuLinkWrap {
  width: 350px;
  height: 47px;
  float: left;
}

.linkIcons {
  height: 32px;
  cursor: pointer;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

#dimigo {
  float: left;
}

#council {
  float: left;
  height: 47px;
  margin-left: 30px;
}

#benedu {
  float: left;
  margin-left: 30px;
}

#dimigoLife {
  float: right;
}

#menubarWrap {
  width: calc(100% - 380px);
  float: right;
}

#contentBottomWrap {
  width: calc(100% - 200px);
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}
