#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #eee;
  position: sticky;
  top: 0px;
}

#innerHeader {
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
}

#logo {
  height: 30px;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
}

#headerUserInfo {
  float: right;
  padding-right: 30px;
}

.headerUserInfoProfile {
  width: 36px;
  height: 36px;
  float: left;
  margin-top: 22px;
  margin-bottom: 22px;
  border-radius: 50%;
  border: 2px solid #d64b45;
  cursor: pointer;
}

.headerUserInfoName {
  font-family: "aGothic17";
  font-size: 16px;
  margin-left: 15px;
  margin-top: 30.5px;
  margin-bottom: 30.5px;
  float: left;
}

.headerUserInfoLogout {
  width: 22px;
  height: 22px;
  float: left;
  margin-left: 30px;
  margin-top: 29px;
  margin-bottom: 29px;
  background-image: url("../images/logout.svg");
  background-size: auto 22px;
}

@media (max-width: 1320px) {
  #innerHeader {
    width: calc(100% - 80px);
    padding-left: 40px;
    padding-right: 40px;
  }

  .headerUserInfoName {
    display: none;
  }

  #contentWrap {
    width: calc(100% - 80px) !important;
    height: 605px !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
  }

  #mealBox {
    width: calc(100% - 380px) !important;
    float: none;
    display: block;
  }

  @media (max-width: 950px) {
    #noticeWrap {
      width: 100% !important;
    }

    #mealBox {
      width: 100% !important;
      height: 325px !important;
      margin-top: 10px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    #mealContentWrap {
      height: 85px !important;
    }
  }
}

#contentWrap {
  width: calc(100% - 200px);
  height: 270px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

#noticeWrap {
  width: 350px;
  float: left;
}

.noticeBox {
  width: calc(100% - 60px);
  height: 66px;
  padding-left: 27px;
  padding-right: 30px;
  padding-top: 20px;
  border-left: 3px solid #d64b45;
  background-color: #fff;
  box-shadow: 0px 7px 10px #ddd;
  display: block;
}

.noticeBoxBottomMargin {
  margin-bottom: 6px;
}

.noticeTitle {
  font-family: "aGothic15";
  font-size: 16px;
  color: #d64b45;
  cursor: pointer;
}

.noticeContent {
  margin-top: 12px;
  color: #555;
  font-size: 14px;
}

#mealBox {
  width: calc(100% - 380px);
  height: 270px;
  float: right;
  margin-left: 30px;
  box-shadow: 0px 7px 10px #ddd;
  font-family: "aGothic12";
  font-size: 14px;
}

#mealContentWrap {
  width: calc(100% - 60px);
  height: 67px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 23px;
  background-color: #fff;
  display: block;
}

.selectedMealContentWrap {
  width: calc(100% - 63px) !important;
  border-left: 3px solid #d64b45;
}

.selectedMealContentWrap > .mealTime {
  color: #d64b45;
}

.selectedMealContentWrap > .meal {
  color: #000;
}

.mealTime {
  font-family: "aGothic15";
  font-size: 16px;
  color: #999;
}

.meal {
  margin-top: 10px;
  color: #bbb;
  cursor: pointer;
}

.meal p {
  display: none;
  margin-top: 19px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.meal:hover p {
  display: inline;
  position: absolute;
  background-color: #bbb;
  color: #fff;
}

#menuWrap {
  width: calc(100% - 200px);
  height: 270px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
