#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #eee;
}

#innerHeader {
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
}

#logo {
  height: 30px;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
}

#headerMenuWrap {
  width: fit-content;
  height: 100%;
  float: left;
  padding-left: 75px; /* 75가 딱 맞음 */
}

.headerMenu {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "aGothic17";
  font-size: 19px;
  color: #111;
  padding-top: 29px;
  padding-bottom: 29px;
  cursor: pointer;
}

.selectedHeaderMenu {
  padding-bottom: 25px !important;
  border-bottom: 3px solid #d64b45;
}

#headerUserInfo {
  float: right;
  padding-right: 30px;
}

.headerUserInfoProfile {
  width: 36px;
  height: 36px;
  float: left;
  margin-top: 22px;
  margin-bottom: 22px;
  border-radius: 50%;
  border: 2px solid #d64b45;
  cursor: pointer;
}

.headerUserInfoName {
  font-family: "aGothic17";
  font-size: 16px;
  margin-left: 15px;
  margin-top: 30.5px;
  margin-bottom: 30.5px;
  float: left;
}

.headerUserInfoLogout {
  width: 22px;
  height: 22px;
  float: left;
  margin-left: 30px;
  margin-top: 29px;
  margin-bottom: 29px;
  background-image: url("../images/logout.svg");
  background-size: auto 22px;
}
