#bgHTML {
  width: 100%;
  height: 100%;
  background-image: url("./images/background.png");
  background-size: 100% 100%;
  font-family: "aGothic12";
}

.bgHTML_ROOT {
  width: 100%;
  height: 100%;
}

.bgHTML_ROOT > div {
  width: 100%;
  height: calc(100% - 5px);
  border-top: 5px solid #d64b45;
}

#mainHTML {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  font-family: "aGothic12";
}

.mainHTML_ROOT {
  width: 100%;
  height: 100%;
}

.mainHTML_ROOT > div {
  width: 100%;
  height: 100%;
}
